/*------------------------------------*\
    $CARDS
\*------------------------------------*/
/* pricing */
.first-box-goals {
  grid-column: 1/9;
  padding: 10px 20px;
}

.first-box-hiring {
    grid-column: 1/12;
    padding: 10px 20px;
}



.second-box-goals {
    grid-column: 9/17;
    padding: 10px 20px;
}

.second-box-hiring {
    grid-column: 12/24;
    padding: 10px 20px;
}



.third-box-goals {
    grid-column: 17/25;
    padding: 10px 20px;
}



.pricing-box {
    position: relative;
}

.box-head {
    min-height: 106px;
}

.box-content {
    border-top: 1px rgb(192, 189, 192) solid;
    margin: 20px 0;
    padding-bottom: 50px;
    padding-top: 10px;
    display: block;
}


/* testimonials quotes */
.testimonial-quote-metrics {
    margin-right: 20px;
    margin-bottom: 40px;
}

.testimonial-quote-hiring {
    flex-basis: 100%;
    margin-right: 20px;
    margin-bottom: 40px;
}

.testimonial-quote-metrics:last-of-type {
    margin-right: 0px;
}

.testimonial-quote-bg-metrics {
    border-top: 5px solid var(--brightPurple);
    border-bottom: 0px solid var(--brightPurple);
    background-color: #f2f2f2;
    text-align: left;
    position: relative;
    /* background-image: url(puxm-images/white-bg.png); */
    background-size: cover;
}

.testimonial-quote-bg-hiring {
    border-top: 5px solid var(--darkOrange);
    border-bottom: 0px solid var(--darkOrange);
    background-color: white;
    text-align: left;
    position: relative;
    /* background-image: url(puxm-images/white-bg.png); */
    background-size: cover;
}



.testimonial-quote-inside-hiring {
    padding: 20px;
}



/* agile events cards/halves */
.half-left {
    grid-column: 3 / 13;
}

.half-right {
    grid-column: 14 / 24;
}
/*------------------------------------*\
     END   $CARDS
\*------------------------------------*/